@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;    
}

.wrapper {
    display: flex;
    width: 100%;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
#navbar {    
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    /* margin-bottom: 45px;  */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#navbar-btn {
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
    outline: none !important;
    border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
 
#sidebar {
    width: 16rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    box-shadow: 2px 0 5px -5px #333;
    /*background: #7386D5;*/    
    transition: all 0.3s;
}

/* Icone a direita */
span>i.right {
    float: right;
}

/* Cor padrão da fonte no menu */
.list-group>a { color: black !important; }

/* Mouse sobre o menu */
a:hover{
    color: white !important;
    background-color: rgba(63, 63, 66, 0.295);
}

/* Clique sobre o menu */
a:active{
    opacity: 0.1;    
    transition-duration: 1s;    
}

/* Espaçamento entre submenus */
#menu2>a,#menu3>a,#menu4>a,#menu5>a{
    padding-left: 2.5rem;
}

.user-profile{
    height: 65px;
    text-align: center;
    padding: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.content {
    width: calc(100% - 16rem);
    /* padding: 40px; */    
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.content.active {
    width: 100%;
}

.container{
    padding: 40px !important;
}

 /* .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ddd;
    margin: 45px 0;
}  */

/* p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
} */